* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    max-width: 1300px;
    height: 700px;
    margin-left: 30px;
}

#content h1 {
    text-align: center;
    width: 100vw;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
   
}

#content .content {
    float: left;
    text-align: left;
    border: 1px solid black;
    background-color: gray;
    margin: 22px;
    align-items: center;
   
}

h2 {
    font-size: 1rem;
    border: 1px solid;
    color: black;
    margin-top: 0;
    width: 110px;
    text-transform: uppercase;
    float: right;
    text-align: center;
}

.title-chicken {
    background-color: palevioletred;
}

.title-beef {
    background-color: brown;
}

.title-sushi {
    background-color: beige;
}

p {
    font-size: 1.1rem;
    color: black;
    padding: 10px;
    padding-top: 30px;
}

@media (min-width: 992px),
(max-width:1300) {
    #content .content {
        width: 27vw;
        height: auto;
    }
}

@media(min-width: 768px) and (max-width:991px) {
    #content .chicken {
        width: 43vw;
        margin: 10px;
    }

    #content .beef {
        width: 43vw;
        margin: 10px;
    }

    #content .sushi {
        width: 85vw;
    }
}

@media(max-width:767px) {
    #content .content {
        width: 70vw;
    }
}